@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Serif+Thai:wght@100..900&family=Pridi:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Pridi", serif; /* Pridi Font Content ต่างๆ  */
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
}

input:focus {
  outline: 2px solid #07af31;
}

.font-heading {
  font-family: "K2D", serif; /* Noto Serif Thai Font สำหรับหัวข้อ */
}

.menu-desktop a {
  transition: 0.3s ease-in-out;
  color: #333;
  text-decoration: none;

  &:hover {
    transition: 0.3s ease-in-out;
    scale: 1.1;
    text-decoration: underline;
    color: #07af31;
  }
}

#logout:hover {
  color: red;
  text-decoration: red underline;
}

